@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300&display=swap');

$letra: 'Bebas Neue', cursive;
$letraDetalles: 'Source Serif Pro',
    serif;
$size : 6rem;